{% extends 'root.html' %}

{% load bootstrap_icons %}

{% block content %}



    <div style="display:flex; align-items:center; margin:0">
        <div>
            <h3>Category: {{category.name}}</h3>
        </div>
        {% if user.is_superuser or user.is_staff %}
        <div>
            <a href="{% url 'product_create' category_id=category.pk %}" class="text-decoration-none link-success" style="margin-left:2rem">
                {% bs_icon 'plus-circle' size='1.8em' %}
            </a>
        </div>
        {% endif %}
    </div>
    <div>
        {% for product in products %}

            <div class="card border-dark mb-3 text-center" style="width: 18rem; margin-bottom:2rem; padding:1rem">
                <div>
                    {% if product.picture %}
                        <img src="{{ product.picture }}" alt="{{product.name}} photo" width="200">
                    {% endif %}
                    <h5 class="card-title">
                        <a href="{% url 'product_detail' pk=product.pk %}"> {{product.name}} </a>
                    </h5>
                    <p>
                        {{product.price}} ({{product.units}})
                    </p>
                    <div class="btn-group" style="display: flex; align-items: center; justify-content: center;">
                        {% if user.is_superuser or user.is_staff %}
                        <div>
                            <a href="{% url 'product_update' category_id=category.pk  pk=product.pk %}" class="text-decoration-none link-secondary">
                                {% bs_icon 'pencil' size='1.8rem' %}
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'product_delete' category_id=category.pk pk=product.pk %}" class="text-decoration-none link-danger">
                                {% bs_icon 'trash' size='1.8rem' %}
                            </a>
                        </div>
                        {% endif %}
                        <div>
                            <form action="{% url 'add_to_cart' %}" method="post">
                                <input name="id" value="{{product.id}}" style="display:none"/>

                                <input name="current_path" style="display:none"/>


                                {% csrf_token %}

                                {% if product.count_in_cart %}
                                <button class="btn btn-success" type="submit" name="btn_func" value="decrement">-</button>
                                <span style="border:1px solid black; padding:0.6rem; margin: 0 0.2rem">{{ product.count_in_cart }}</span>
                                <button class="btn btn-success" type="submit" name="btn_func" value="increment">+</button>
                                {% else %}
                                <button class="btn btn-success" type="submit" name="id" value="{{ product.id }}">Add to Cart</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

        <script>
            setTimeout(function(){
                document.querySelectorAll("input[name=current_path]").forEach(inp => inp.value = window.location.pathname);
            }, 10)
        </script>
    </div>

{% endblock %}